<h3>Listing Tasks based on Priority </h3>
Download:
          <%= link_to "csv", show_priority_tasks_path(format: "csv") %>
          <br>
<div class="container">
<%if @task.present? %>
<table class="table table-striped">
	<tr>
	<th>Task List</th>
	<th>Priority</th>
	<th>Deadline</th>
	<th>Status</th>
	</tr>
<%@task.each do |t|%>
<tr>
<td><%= t.desc%></td>
<td><%= t.priority %></td>
<td><%= t.deadline.strftime("%d/%m/%y: %H:%M %a")%></td>
<td><%= t.status%></td>
</tr>
<%end%>
</table>
<% else %>
<%= "Uh Oh ! There are no completed tasks" %><br>
<%end%>
</div>
<%= will_paginate @task%>